:root {
    /* Colors */
    --color-primary: #023448;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-purple: purple;
    --color-green: #08805b;
    --color-blue: #0074a7;
    --color-yellow:#f5f552;
    --color-red: var(--color-blue);
    /* Text */
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
    /* Font Families */
    --font-family-base: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* Font Sizes */
    --font-size-smaller: 1.3rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.7rem;
    --font-size-xx-large: 3rem;
    --font-size-xxxx-large: 4.3rem;
    --font-size-html-small: 60%;
    --font-size-html-smaller: 58%;
    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    /* Line Heights */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    /* Sections */
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-margin-bottom: 0 0 2rem;
    --section-title-font-size: var(--font-size-xx-large);
    --section-title-font-size-xxxx: var(--font-size-xxxx-large);
    --section-title-font-weight: var(--font-weight-bold);
    --section-title-line-height: var(--line-height-small);
    --section-title-color: var(--color-black);
    --section-tagline-color: var(--color-primary);
    --section-header-align: center;
    /* Header */
    --header-padding: 1.2rem 1.5rem;
    /* Footer */
    --footer-padding: 5rem 0 2rem;
    --footer-margin-top: var($footer-margin-top);
    /* Navbar */
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-margin: 0 0 0 2rem;
    --nav-item-margin-small: 0 0 0 2rem;
    --nav-item-padding-small:0 1.8rem 0 0;
    --nav-item-padding-large:0 2.5rem 0 0;
    /* Buttons */
    --button-display: inline-block;
    --button-padding: 1rem 2rem;
    --button-padding-small: 0.7rem 2rem;
    --button-border: #0074a7 solid 0.2rem;
    --button-color: var(--color-black);
    --button-hover-color: var(--color-white);
    --button-hover-background: var(--color-blue);
    /* Borders */
    --border-width-thin: 1px;
    --border-width-medium: 2px;
    --border-width-thick: 3px;
    --border-radius-none: 0;
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
    --border-radius-circle: 50%;
    /* Box Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.15);
    --box-shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Motion */
    --transition-effect: .7s ease-in-out !important;
  }
  
  * {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
  }
  *::selection {
    background-color: var(--color-black);
    color: var(--color-yellow);
  }
  *::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow);
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-y: scroll;
    transition: 0.2s linear !important;
    height: 100vh;
  }
  
  /* html Media Query */
  @media (max-width: 767px) {
    html {
      font-size: var(--font-size-html-small);
    }
  }
  @media (max-width: 480px) {
    html {
      font-size: var(--font-size-html-smaller);
    }
  }

  a {
    color: var(--color-black);
  }
  
  a{
    text-decoration: none;
  }


/* HEADER DESIGN */

.header{
    height: 80px;
    box-shadow: 0 3px 3px 0 var(--color-red);
}

.header .navList{
    display: flex;
    align-items: center;
    height: 100%;       
}

.navList-item{
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container{
    width: 90%;
    max-width: 960px;
    margin: 40px auto;
}

.sub-container{
    margin-bottom: 3em;
}
/*Upload Css */
.uploader{
    padding: 4rem;
}

.uploadContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-red);
    padding: var(--header-padding);
    margin-bottom: 2em;
}

.uploadContainer h3{
    font-size: var(--font-size-medium);
    margin-bottom: .4em;
}

.upload-container {
    text-align: center;
    padding: 10px;
}
 
.custom-file-upload{
    display: inline-block;
    padding: .6em;
    outline: 1px solid var(--color-green);
    font-size: var(--font-size-small);
    border-radius: 3px;
    cursor: pointer;
}

.custom-file-upload:hover{
    color: var(--color-white);
    background-color: var(--color-green);
}
.custom-file-upload input {
    display: none
}
.fileName{
    margin-top: .7em;
    font-size: 1rem;
}
  

.sub-container{
    max-width: 960px;
    margin: 0 auto;
}

.hideShowContainer{
    text-align: center;
    margin: var(--section-margin-bottom);
}
.containerHeader{
    text-align: center;
    
}


.uploadContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--color-red);
    padding: var(--header-padding);
}

/*Detailed Results */
.detailedResults{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/*EACH INDIVIDUAL CHECK SECTION */
.result-checker{
    margin: 4em 0;
    margin-bottom: 4em;
    border: 1px solid var(--color-red);
    padding: 2em;
    text-align: center;
}

.result-checker header{
    margin: 2em 0;
}

.result-checker h3{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold)
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

input[type="text"],
input[type="number"]{
    border: 1px solid #333;
    width: 150px;
    padding: .6em;
    font-size: 1.2rem;
}

label{
    font-size: var(--font-size-small);
}



/*BUTTON */
.small-btn{
    padding: var(--button-padding);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition-effect);
    width: 100px;
}

.medium-btn{
    padding: var(--button-padding);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition-effect);
    margin-top: 10px;
    width: 160px;
}
.btn{
    padding: var(--button-padding);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    background-color: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition-effect);
    margin-top: 10px;
    width: 280px;
}

.btn:hover{
    outline: 1px solid var(--color-red);
    background-color: white;
    color: var(--color-red);
    
}

.btn:active{
    opacity: .5;
    background-color:var(--color-red);
    color: var(--color-white);
}
.footer{
    bottom: 0;
    left: 0;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red);
    color: var(--color-white);
    width: 100%;
    margin-top: 3em;
    padding: 3em 0;

}
.footer p{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: bold;
}



/*Media Screen */
@media screen and (max-width: 500px){
    .uploader{
        padding: 20px;
    }
    
    .uploadContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        border: 1px solid var(--color-red);
        padding: var(--header-padding);
    }
    
    .uploadContainer h3{
        font-size: var(--font-size-medium);
        margin-bottom: .4em;
    }
    .upload-sub{
        margin: 1rem 0;
    }
    
}

table{
    border: 1px solid var(--color-blue);
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    
}

th, td{
    border: 1px solid var(--color-blue);
    font-size: 1.2rem;
}
th{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 1.4em;
    margin: 0;
}

caption{
    font-size: var(--font-size-medium);
}
td{
    padding: .5em;
}