:root {
    /* Colors */
    --color-primary: #023448;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-purple: purple;
    --color-green: #08805b;
    --color-blue: #0074a7;
    --color-yellow:#f5f552;
    --color-red: var(--color-blue);
    --color-redd: rgb(251, 30, 30);
    /* Text */
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
    /* Font Families */
    --font-family-base: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* Font Sizes */
    --font-size-smaller: 1.3rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.7rem;
    --font-size-xx-large: 3rem;
    --font-size-xxxx-large: 4.3rem;
    --font-size-html-small: 60%;
    --font-size-html-smaller: 58%;
    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    /* Line Heights */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    /* Sections */
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-margin-bottom: 0 0 2rem;
    --section-title-font-size: var(--font-size-xx-large);
    --section-title-font-size-xxxx: var(--font-size-xxxx-large);
    --section-title-font-weight: var(--font-weight-bold);
    --section-title-line-height: var(--line-height-small);
    --section-title-color: var(--color-black);
    --section-tagline-color: var(--color-primary);
    --section-header-align: center;
    /* Header */
    --header-padding: 1.2rem 1.5rem;
    /* Footer */
    --footer-padding: 5rem 0 2rem;
    --footer-margin-top: var($footer-margin-top);
    /* Navbar */
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-margin: 0 0 0 2rem;
    --nav-item-margin-small: 0 0 0 2rem;
    --nav-item-padding-small:0 1.8rem 0 0;
    --nav-item-padding-large:0 2.5rem 0 0;
    /* Buttons */
    --button-display: inline-block;
    --button-padding: 1rem 2rem;
    --button-padding-small: 0.7rem 2rem;
    --button-border: #0074a7 solid 0.2rem;
    --button-color: var(--color-black);
    --button-hover-color: var(--color-white);
    --button-hover-background: var(--color-blue);
    /* Borders */
    --border-width-thin: 1px;
    --border-width-medium: 2px;
    --border-width-thick: 3px;
    --border-radius-none: 0;
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
    --border-radius-circle: 50%;
    /* Box Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.15);
    --box-shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Motion */
    --transition-effect: .7s ease-in-out !important;
  }
  
  * {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
  }
  *::selection {
    background-color: var(--color-black);
    color: var(--color-yellow);
  }
  *::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow);
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-y: auto;
    overflow-x: auto;
    transition: 0.2s linear !important;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  /* html Media Query */
  @media (max-width: 767px) {
    html {
      font-size: var(--font-size-html-small);
    }
  }
  @media (max-width: 480px) {
    html {
      font-size: var(--font-size-html-smaller);
    }
  }

  a {
    color: var(--color-black);
  }
  
  a{
    text-decoration: none;
  }


/* HEADER DESIGN */

.header{
    height: 80px;
    box-shadow: 0 3px 3px 0 var(--color-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button{
  margin-right: 2em;
  font-size: var(--font-size-medium);
}
.header .navList{
    display: flex;
    align-items: center;
    height: 100%; 
    margin: 0 2em;  
       
}

.navList-item{
    font-size: var(--font-size-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    animation: spinner 3s infinite; 
    width: 40px;
}

@keyframes spinner {
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    
}


/*LOGIN PAGE */

.login-form-container{
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  border: 3px solid var(--color-red);
  max-width: 500px;
  flex: 1;
  padding: 1em;
  border-radius: 10px;
}

.loginForm h3{
  text-align: center;
  font-size: var(--font-size-xx-large);
}
.loginsubContainer{
  margin: 1.5em 0;
}

.btn-primary{
  width: 100%;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  padding: .5em;
  background-color: var(--color-red);
  color: var(--color-white);
}

.loginsubContain{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50px;
}

.loginsubContain img{
  width: 6em;
  text-align: center;
  margin: 0 auto;
  
}

.loginsubContainer label{
  margin-bottom: .5em;
  font-size: var(--font-size-medium);
  font-family: 'Roboto', sans-serif;
}

.loginsubContainer input{
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-small);
  
}


.loginsubContainer input[type="email"]{
  text-transform: lowercase;

}
.primary-button{
  width: 100%;
  padding: .6em;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: var(--font-size-medium);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.primary-button:hover{
  background-color: var(--color-white);
  color: var(--color-red);
  outline: 1px solid var(--color-red);

}
.primary-button:active{
  background-color: var(--color-red);
  color: var(--color-white);
}


.container{
  width: 70%;
  margin: 0 auto;
}


/*BUTTON */
.small-btn{
  padding: var(--button-padding);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition-effect);
  width: 100px;
}

.medium-btn{
  padding: var(--button-padding);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  transition: var(--transition-effect);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  margin-right: 10px;
}
.btn{
  width: 50%;
  border: 1px solid var(--color-red);
  margin: .5em 0 1em 0;
  padding: .7em;
  background-color: var(--color-red);
  border-radius: 5px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}

.butt{
  width: 100px;
  border: 1px solid var(--color-red);
  margin: .5em 0 1em 0;
  padding: .7em;
  background-color: var(--color-red);
  border-radius: 5px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}

.butt:hover{
  outline: 1px solid var(--color-red);
  color: var(--color-red);
  background-color: var(--color-white);
  border-radius: 5px;
}
.butt:active{
  color: var(--color-white);
  background-color: var(--color-red);
}

.generatebtn{
  width: 250px;
  border: 1px solid var(--color-red);
  margin: .5em 0 1em 0;
  padding: .7em;
  background-color: var(--color-red);
  border-radius: 5px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}
/* Container */
.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container{
  max-width: 969px;
}

.uploadContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2em;
  max-width: 969px;
  border-top: 1px solid var(--color-red);
  border-bottom: 1px solid var(--color-red);
  padding: 3em;
  margin-bottom: 4em;
}


.containerHeader{
  text-align: center;
  margin-top: 2em;
  font-weight: var(--font-weight-bold);
}

/* HINT AT TOP */
.hideShowContainer{
  text-align: center;
  margin: 0 auto;
}

.hideAndShow{
  font-size: var(--font-size-small);
}
.hideShowContainer button{
  width: 150px;
  border: 1px solid var(--color-red);
  margin: .5em 0 1em 0;
  padding: .7em;
  background-color: var(--color-red);
  border-radius: 5px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
}

.hideShowContainer button:hover{
  border: 1px solid var(--color-red);
  background-color: var(--color-white);
  color: var(--color-red);
}

.custom-file-upload{
  display: inline-block;
  padding: .4em;
  outline: 1px solid var(--color-green);
  font-size: var(--font-size-small);
  border-radius: 3px;
  cursor: pointer;
}

.custom-file-upload:hover{
  color: var(--color-white);
  background-color: var(--color-green);
}
.custom-file-upload input {
  display: none
}
.fileName{
  margin-top: .7em;
  font-size: 1rem;
}


/* Search tables */

.result-checker{
  border-bottom: 1px solid var(--color-red);
  padding: 2em 0;
  
}
.form-container{
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  align-items: center;
}
.search-contain{
  margin: .6em 0;
  display: flex;
  align-items: center;
}

.search-contain input{
  border: 1px solid var(--color-red);
  font-size: var(--font-size-small);
  padding: 1em;
  width: 50%;
}

.search-contain input::placeholder{
  font-size: var(--font-size-small);

}
.search-contain label{
  font-size: var(--font-size-medium);
  margin-right: .3em;
  width: 150px;
}

#courseSelect{
  border: 1px solid var(--color-red);
  font-size: var(--font-size-medium);
  padding: 1em;
  width: 25%;
}
caption {
  caption-side: top; /* Ensures caption appears above the table */
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  font-size: var(--font-size-small);
}

/*Table Design */

table{
  border: 1px solid var(--color-red);
}


td,th{
  padding: .3em;
  border: 1px solid var(--color-red);
  font-size: var(--font-size-small);
  text-align: center;
}
.generateTable{
  margin-bottom: 2em;
}


/* Footer */
.footer{
  bottom: 0;
  left: 0;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red);
  color: var(--color-white);
  width: 100%;
  margin-top: 3em;
  padding: 3em 0;

}
.footer p{
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
}



/*Media Screen */
@media screen and (max-width: 500px) {
  .uploadContainer{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.custom-file-upload {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.fileName {
  margin-top: 10px;
  font-size: 1.2em;
}

progress {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #007bff;
}


/*ERRRO MESSAGE And Info*/
.error-message{
  font-size: var(--font-size-medium);
  color: var(--color-redd);
}

.info{
  font-size: var(--font-size-medium);
  color: var(--color-blue);
}