:root{
  --text-color1: #ffffff;
  --text-color2: #333;
  --background: #0000FF;
}


table{
  border: 1px solid #333;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

th{
  background-color: var(--background);
  color: var(--text-color1);
}

.gradeHeader{
  text-align: center;
}

td, th{
  padding: 3px;
  text-align: center;
  border: 1px solid #ddd;
}


.gradeTotal{
  font-weight: bold;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

.absentTable{
  width: 50%;
}