html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: 'Montserrat';
  display: grid;
  place-content: center;  
  background-color: pink;    
}


main{
  width: 90%;
  margin: 0 auto;
}

p, h2{
  margin: 0;
}

h2{
  margin: .4em 0;
}
article{
  max-width: 350px;
  min-width: 250px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  background-color: white;
  transition: 3s ease-in-out !important;
}

article:hover{
  transform: scale(1.05);
}
.avatar{
  border-radius: 50%;
  width: 100px;
}


.info{
  margin-top: .5em;
}

.info img{
  width: 15px;
  text-align: left;
  
}